.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  .loading-spin {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-top: 2px solid rgb(40, 189, 239);
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}
